# macOS Finder / OS metadata
.DS_Store
.AppleDouble
.LSOverride
Icon

# Xcode
build/
DerivedData/
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# Temporary / Log files
*.log
*.tmp
